.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 37px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 150px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 52px 1fr;
    gap: 22px 52px;
    padding: 60px 0 43px;
  }
}

.footer__logo {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.footer__menu {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 30px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    justify-content: initial;
    align-items: center;
    gap: 20px 15.4px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    grid-row: 1;
    gap: 30.4px;
  }
}

.footer__link {
  font-size: 14px;
  line-height: 20px;
  color: $primary;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: $blue;
    opacity: 0.7;
  }

  &:focus-visible {
    outline: none;
    color: $blue;
    opacity: 1;
  }

  &:active {
    color: $active;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    line-height: 17px;
  }
}

.footer__privacy-policy {
  position: relative;
  max-width: 182px;
  margin-bottom: 13px;
  font-size: 12px;
  line-height: 14px;
  color: $primary;
  text-align: center;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: $primary;

    @media (min-width: $tablet-width) {
      bottom: -2px;
    }

    @media (min-width: $desktop-width) {
      bottom: -3px;
    }
  }

  &:hover {
    color: $blue;
    opacity: 0.7;

    &::after {
      background-color: $blue;
    }
  }

  &:focus-visible {
    outline: none;
    color: $blue;
    opacity: 1;

    &::after {
      background-color: $blue;
    }
  }

  &:active {
    color: $active;
    opacity: 1;

    &::after {
      background-color: $active;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 182px;
    margin-top: 26px;
    margin-bottom: 2px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    grid-row: 2;
    justify-self: flex-end;
    min-width: 212px;
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px;
  }
}

.footer__copyright {
  margin-top: 0;
  margin-bottom: 14px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  color: $primary;
  opacity: 0.6;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 3;
    justify-self: flex-start;
    margin-bottom: -9px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2;
    margin-top: -3px;
    font-size: 14px;
    line-height: 18px;
    opacity: 1;
  }
}

.footer__social {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row: 3;
    justify-self: flex-end;
    margin-top: -14px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    grid-row: 1;
    gap: 20px;
    margin-top: 3px;
  }
}

.footer__social-link {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: $blue;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  &::before {
    transition: background-color 0.3s ease;
  }

  &:hover {
    &::before {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }

  &:focus-visible {
    outline: none;
    background-color: $white;

    &::before {
      background-color: $blue;
    }
  }

  &:active {
    background-color: $active;

    &::before {
      background-color: $white;
    }
  }

  @media (min-width: $tablet-width) {
    width: 36px;
    height: 36px;
  }

  &--vk::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    mask-image: url("/__spritemap#sprite-vk-view");
    mask-size: 12px 8px;
    mask-repeat: no-repeat;
    mask-position: center;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 11px;
      mask-size: 18px 11px;
    }
  }

  &--ok::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    mask-image: url("/__spritemap#sprite-ok-view");
    mask-size: 8px 12px;
    mask-repeat: no-repeat;
    mask-position: center;

    @media (min-width: $tablet-width) {
      width: 10px;
      height: 17px;
      mask-size: 10px 17px;
    }
  }

  &--reddit::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    mask-image: url("/__spritemap#sprite-reddit-view");
    mask-size: 12px 12px;
    mask-repeat: no-repeat;
    mask-position: center;

    @media (min-width: $tablet-width) {
      width: 16px;
      height: 17px;
      mask-size: 16px 17px;
    }
  }
}
