.page__body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: $font-family;
  font-weight: 400;
  background-color: $beige;
}

.page__main {
  flex-grow: 1;
}
