$mobile-max-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

$font-family: "Manrope", "Arial", sans-serif;

$primary: #484848;
$white: #ffffff;
$beige: #f0efe9;
$blue: #316dc2;
$active: #275699;
$disabled: #a9afb7;
$error: #ff5e66;
$photo-overlay: rgba(49, 109, 194, 0.2);
$menu-overlay: rgba(13, 29, 51, 0.4);
